!!! 5
%html
  %head
    - ["jquery-1.6.4.min", "json2", "underscore", "backbone", "backbone-localstorage"].each do |f|
      %script{type: "text/javascript", src: "assets/javascripts/vendor/#{f}.js"}
      
    - ["SampleData", "Weixun", "Authors", "Feeds"].each do |f|
      %script{type: "text/javascript", src: "assets/javascripts/#{f}.js"}
      
    %script{id: "feeds_template", type: "text/html"}
      %h1 Feeds
      %form{class: "new_feed"}
        %textarea{name: "feed[content]"}
        %input{type: "submit", value: "Share"}
      %ul.feed_list
      
    %script{id: "feed_template", type: "text/html"}  
      %h3 <%= author.name %>
      %p <%= content %>
  
    %script{id: "comment_form_template", type: "text/html"}
      %form{class: "new_comment"}
        %textarea{name: "comment[content]"}
        %input{type: "submit", value: "Reply"}
        
    %script{id: "comment_template", type: "text/html"}
      %h4 <%= author.name %>
      %p <%= content %>
      
    %script{id: "author_template", type: "text/html"}
      != "<img src='<%= avatar_url %>' />"
      %span <%= name %>
      
    :javascript
      $(function() {
        window.feeds = new Feeds(window.SampleData.feeds);
        window.feedsView = new FeedsView({collection: window.feeds});
        $("#main").append(window.feedsView.render().el);
        
        window.authors = new Authors(window.SampleData.authors);
        window.authorsView = new AuthorsView({collection: window.authors});
        $("#secondary").append(window.authorsView.render().el);
      });
  %body
    #container
      %header
        %nav
          %ul
            %li
              %a Online Courses
            %li
              %a Ebooks
      #main
      #secondary