!!! 5
%html
  %head
    %meta{charset: "utf-8"}
    %title 精品课堂
    %link{href: "assets/css/screen.css", media: "screen, projection", rel: "stylesheet", type: "text/css"}
    %link{href: "assets/css/video-js.css", media: "screen, projection", rel: "stylesheet", type: "text/css"}
  
    - ["jquery-1.6.4.min", "json2", "underscore", "backbone", "backbone-localstorage"].each do |f|
      %script{type: "text/javascript", src: "assets/javascripts/vendor/#{f}.js"}
      
    %script{type: "text/javascript", src: "assets/javascripts/SampleData.js"}
    %script{type: "text/javascript", src: "assets/javascripts/Weixun.js"}
    %script{type: "text/javascript", src: "assets/javascripts/Videos.js"}
    %script{type: "text/javascript", src: "assets/javascripts/video.js"}
    
    %script{id: "video_template", type: "text/html"}
      != "<img src='<%= cover_thumb_url %>' />"
      %h4.title <%= title %>
      %span.author <%= author_name %>
    
    %script{id: "video_full_template", type: "text/html"}
      %h3.title <%= title %>
      %ul.details
        %li
          %span.length 3:20
        %li
          %span.produce_time 2011年
        %li
          %span.type Economics
        %li
          %span.view_count 23132
      %p.summary <%= summary %>
      
    :javascript
      $(function() {
        window.videos = new Videos(window.SampleData.videos);
        window.videoShelfView = new VideoShelfView({collection: window.videos});
        $("#content_container section.related_videos").append(window.videoShelfView.render().el);
        window.videoShelfView.updateVideo();
        VideoJS.setupAllWhenReady();
        
      });
  %body.two_col
    #container
      %header#main_header
        %h1#logo  微讯
        %nav
          %ul
            - [['在线课堂', 'index', true], ['电子书', 'books'], ['友情天地', 'feeds'], ['通讯录', 'contacts']].each do |item|
              %li
                %a{href: "#{item[1]}.html", class: "#{item[2] ? 'current' : ''}"}= item[0]
      #content.books
        %header#content_header
          %h2 精品课堂
        #content_container
          #main
            #video_container
              .video-js-box{:id => "player_div"}
                %video{:id=>"video_box", :class=>"video-js", :width=>"560", :height=>"400", :controls=>"controls", :preload=>"auto",  :poster=>"assets/images/avatar/missing.png"}
                  %source{:src=>"assets/videos/1.mp4", :type=>'video/mp4; codecs="avc1.42E01E, mp4a.40.2"'}
          #secondary
          %section.related_videos
            %header
              %h3 相关视频
        %footer#content_footer
