<!DOCTYPE html>
<html>
  <head>
    <script src='assets/javascripts/vendor/jquery-1.6.4.min.js' type='text/javascript'></script>
    <script src='assets/javascripts/vendor/json2.js' type='text/javascript'></script>
    <script src='assets/javascripts/vendor/underscore.js' type='text/javascript'></script>
    <script src='assets/javascripts/vendor/backbone.js' type='text/javascript'></script>
    <script src='assets/javascripts/vendor/backbone-localstorage.js' type='text/javascript'></script>
    <script src='assets/javascripts/SampleData.js' type='text/javascript'></script>
    <script src='assets/javascripts/Weixun.js' type='text/javascript'></script>
    <script src='assets/javascripts/Contacts.js' type='text/javascript'></script>
    <script id='contact_template' type='text/html'>
      <img src='<%= avatar_url %>' />
      <span class='name'><%= name %></span>
      <span class='title'><%= title %></span>
      <span class='cell'><%= cell %></span>
    </script>
    <script id='contact_full_template' type='text/html'>
      <img src='<%= avatar_url %>' />
      <h3><%= name %></h3>
      <span><%= title %></span>
      <ul class='details'>
        <li class='cell'><%= cell %></li>
        <li class='email'><%= email %></li>
      </ul>
    </script>
    <script type='text/javascript'>
      //<![CDATA[
        $(function() {
          window.contacts = new Contacts(window.SampleData.contacts);
          window.contactsView = new ContactsView({collection: window.contacts});
          $("#main").append(window.contactsView.render().el);
          window.contactsView.updateContact();
        });
      //]]>
    </script>
  </head>
  <body>
    <div id='container'>
      <header>
        <nav>
          <ul>
            <li>
              <a>Online Courses</a>
            </li>
            <li>
              <a>Ebooks</a>
            </li>
          </ul>
        </nav>
      </header>
      <div id='main'></div>
      <div id='secondary'></div>
    </div>
  </body>
</html>
